{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">

		<div class="col-md-8 text-center">
           {# <h1>Le compte travailleur SYSOP</h1> #}
           <p>
               <img src="{{ asset('bundles/app/img/business-1.jpg') }}" class="img-responsive"/>
           </p>
        </div>
        <div class="col-md-4">

            {{ include('UserBundle:Form:form_register_content.html.twig') }}
            
        </div>

    </div>
{% endblock fos_user_content %}