{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="col-md-6">
            Message pub
        </div>
        <div class="col-md-6">
            Travailleur
            {% trans_default_domain 'FOSUserBundle' %}

            {{ form_start(form, {'method': 'post', 'attr': {'class': 'travailleur_registration'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock fos_user_content %}