{% extends "AppBundle::layout.html.twig" %}



{% block header %}
	{# header #}
  	<div id="header2">
		<div class="jumbotron">
	  		<div class="col-md-12 text-center">
	  			<h1>Déposer un projet</h1>
	  		</div>
  		</div>
  		
  	</div>	
  	{# end header #}
{% endblock header %}

{% block content %}

  	<div id="deposer_projet_content">

		<div class="container">

			

		</div>
  	</div>
  
{% endblock content %}