{% extends "AppBundle::layout.html.twig" %}


{% block content %}

  	<div id="rechercher_projet_content">

		<div class="container">
			<h1>Recherche projet</h1>
		</div>
  		
	 
  	</div>

  
{% endblock content %}