{% extends "AppBundle::layout.html.twig" %}


{% block content %}

    <div id="rechercher_travailleur_content">
        <div class="container">
            <h1>Recherche un travailleur</h1>

            <hr/>

            {% for t in travailleurs %}
                <div>{{ t.username }}</div>
            {% endfor %}
        </div>
    </div>


{% endblock content %}