
<div class="fos_user_user_show">
	<h3 class="page-header text-center">
		Projets récents
	</h3>
	<h3 class="page-header text-center">
		Agenda
	</h3>
	<h3 class="page-header text-center">
		Expériences
	</h3>
	<h3 class="page-header text-center">
		Diplômes
	</h3>
	<h3 class="page-header text-center">
		Spécialités
	</h3>
    
</div>